body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: red;
}

.container {
    width: 100%;
    height: 100%;
    background-color: green;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}